@import url('https://fonts.googleapis.com/css?family=Gupter:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');
@import "navi.css";
@import "history.css";
@import "movie.css";
@import "footer.css";
@import "container.css";
@import "sub.css";


body {
    font-family: 'Noto Sans KR','Gupter', sans-serif, serif;
    width: 1000px;
    height: 2000px;
    margin: 0 auto;
}

#warp {
    width: 1000px;
    height: 2000px;
}

#toystory {
    padding-bottom: 30px;
}









