.title-title {
    font-size: 50px;
    margin-bottom: 30px;
}
.container__img {
    display: flex;
}
.img-img {
    width: 350px;
    height: 450px;
    font-size: 0;
}
.sub-title {
    padding: 20px;
    margin: 55px 0 ;
    font-size: 25px;
    font-weight: 600;
}
.introduce {
    padding: 20px;
    margin: 55px 0 ;
    font-size: 18px;
    font-weight: 500;
   
}

.Characters-ul {
    list-style: none;
    display: flex;
    width: 1000px;
    justify-content: space-around;
    margin-bottom: 20px;
} 
.Characters__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.name,
.role {
    display: inline-block;
}
.name {
    padding-right: 5px;
}
.role {
    padding-left: 5px;
}

.title-02,
.title-03 {
    margin: 20px 0 ;
}
.name {
    border-right: 1px solid #999;
}
.Characters-list-text li{
    padding-right: 5px;
    margin-bottom: 3px;
    font-size: 15px;
}

.video__player {
    width: 1000px;
    margin-bottom: 20px;
}
             
